# Preprocessing

## khai báo thư viện

In [402]:
import pandas as pd

In [403]:

# * Parameter
excel_file = "collected_data.xlsx"

## Chuyển đổi file excel sang csv

In [404]:
df= pd.read_excel(excel_file)
df

,STT,Tên \nQuốc Gia,Thủ Đô,Diện Tích \nLãnh Thổ (km²),Tổng \nDân Số,Mật Độ Dân Số \n(người/km²),Tuổi Thọ \nTrung Bình,Tỷ Lệ \nBiết Chữ \n(%),Tỷ Lệ \nĐô Thị Hoá \n(%),GDP \n(triệu tỷ USD),GDP \nBình Quân Đầu Người \n(người/USD),Tỷ Lệ \nThất Nghiệp \n(%),Tỷ Lệ Sinh \n(‰),Tỷ Lệ Tử \n(‰),Số \nBang/Tỉnh,Số Di Sản \nVăn Hoá UNESCO,Tổng Số Khách \nĐến Du Lịch (triệu người),Tổng Thu Nhập \nDu Lịch (tỷ USD),Chỉ Số HDI \n(Human Development Index)
0,1,Afghanistan,Kabul,652230.0,40578842.0,62.215541,62.879,0.373,26.616%,14583.0,359.374474,14.10%,36.045,5.993,34,2,NaN,NaN,0.462
1,2,Albania,Tirana,27400.0,2777689.0,101.375511,76.833,0.990,63.799%,18882.0,6797.737256,10.14%,10.305,8.709,12,3,7.18,3.00,0.789
2,3,Algeria,Algiers,2381741.0,45477389.0,19.094179,77.129,0.814,74.772%,191913.0,4219.965223,12.35%,20.491,4.602,58,6,1.40,0.20,0.745
3,4,Andorra,Andorra la Vella,470.0,79705.0,169.585106,NaN,1.000,87.811%,3352.0,42055.078100,NaN,6.850,5.948,7,1,3.56,2.20,0.884
4,5,Angola,Luanda,1246700.0,35635029.0,28.583484,61.929,0.720,68.081%,106714.0,2994.637664,14.60%,38.102,7.097,18,0,0.13,0.00,0.591
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,192,"Venezuela, RB",Caracas,882050.0,28213017.0,31.985734,71.105,0.975,88.378%,NaN,NaN,5.71%,15.025,7.347,24,2,0.68,0.30,NaN
192,193,Viet Nam,Hanoi,313429.0,99680655.0,318.032649,74.580,0.958,38.766%,408802.0,4101.116711,1.52%,14.272,6.488,63,5,3.66,3.80,0.726
193,194,"Yemen, Rep.",Sana'a,527970.0,38222876.0,72.395924,63.720,0.701,39.188%,NaN,NaN,17.36%,35.407,5.232,22,4,NaN,NaN,NaN
194,195,Zambia,Lusaka,743390.0,20152938.0,27.109509,61.803,0.867,45.761%,29784.0,1477.898657,6.00%,33.542,5.583,10,0,1.06,0.80,0.569
195,196,Zimbabwe,Harare,386850.0,16069056.0,41.538209,59.391,0.897,32.395%,20678.0,1286.821080,10.09%,30.882,7.779,10,2,1.04,0.15,0.550

In [405]:
# df.to_csv("preprocessing_data.csv", index=False, encoding='utf-8-sig')

## Xửa lỗi định dạng

In [406]:
# df = pd.read_csv("preprocessing_data.csv", encoding='utf-8-sig')
df.head()

,STT,Tên \nQuốc Gia,Thủ Đô,Diện Tích \nLãnh Thổ (km²),Tổng \nDân Số,Mật Độ Dân Số \n(người/km²),Tuổi Thọ \nTrung Bình,Tỷ Lệ \nBiết Chữ \n(%),Tỷ Lệ \nĐô Thị Hoá \n(%),GDP \n(triệu tỷ USD),GDP \nBình Quân Đầu Người \n(người/USD),Tỷ Lệ \nThất Nghiệp \n(%),Tỷ Lệ Sinh \n(‰),Tỷ Lệ Tử \n(‰),Số \nBang/Tỉnh,Số Di Sản \nVăn Hoá UNESCO,Tổng Số Khách \nĐến Du Lịch (triệu người),Tổng Thu Nhập \nDu Lịch (tỷ USD),Chỉ Số HDI \n(Human Development Index)
0,1,Afghanistan,Kabul,652230.0,40578842.0,62.215541,62.879,0.373,26.616%,14583.0,359.374474,14.10%,36.045,5.993,34,2,NaN,NaN,0.462
1,2,Albania,Tirana,27400.0,2777689.0,101.375511,76.833,0.990,63.799%,18882.0,6797.737256,10.14%,10.305,8.709,12,3,7.18,3.0,0.789
2,3,Algeria,Algiers,2381741.0,45477389.0,19.094179,77.129,0.814,74.772%,191913.0,4219.965223,12.35%,20.491,4.602,58,6,1.40,0.2,0.745
3,4,Andorra,Andorra la Vella,470.0,79705.0,169.585106,NaN,1.000,87.811%,3352.0,42055.078100,NaN,6.850,5.948,7,1,3.56,2.2,0.884
4,5,Angola,Luanda,1246700.0,35635029.0,28.583484,61.929,0.720,68.081%,106714.0,2994.637664,14.60%,38.102,7.097,18,0,0.13,0.0,0.591

In [407]:
# Xử lý tên cột: thay '\n' bằng dấu cách
df.columns = df.columns.str.replace('\n', '')

In [408]:
df.head()

,STT,Tên Quốc Gia,Thủ Đô,Diện Tích Lãnh Thổ (km²),Tổng Dân Số,Mật Độ Dân Số (người/km²),Tuổi Thọ Trung Bình,Tỷ Lệ Biết Chữ (%),Tỷ Lệ Đô Thị Hoá (%),GDP (triệu tỷ USD),GDP Bình Quân Đầu Người (người/USD),Tỷ Lệ Thất Nghiệp (%),Tỷ Lệ Sinh (‰),Tỷ Lệ Tử (‰),Số Bang/Tỉnh,Số Di Sản Văn Hoá UNESCO,Tổng Số Khách Đến Du Lịch (triệu người),Tổng Thu Nhập Du Lịch (tỷ USD),Chỉ Số HDI (Human Development Index)
0,1,Afghanistan,Kabul,652230.0,40578842.0,62.215541,62.879,0.373,26.616%,14583.0,359.374474,14.10%,36.045,5.993,34,2,NaN,NaN,0.462
1,2,Albania,Tirana,27400.0,2777689.0,101.375511,76.833,0.990,63.799%,18882.0,6797.737256,10.14%,10.305,8.709,12,3,7.18,3.0,0.789
2,3,Algeria,Algiers,2381741.0,45477389.0,19.094179,77.129,0.814,74.772%,191913.0,4219.965223,12.35%,20.491,4.602,58,6,1.40,0.2,0.745
3,4,Andorra,Andorra la Vella,470.0,79705.0,169.585106,NaN,1.000,87.811%,3352.0,42055.078100,NaN,6.850,5.948,7,1,3.56,2.2,0.884
4,5,Angola,Luanda,1246700.0,35635029.0,28.583484,61.929,0.720,68.081%,106714.0,2994.637664,14.60%,38.102,7.097,18,0,0.13,0.0,0.591

In [409]:
# Xử lý dữ liệu trong DataFrame: thay '\n' bằng dấu cách
df = df.applymap(lambda x: x.replace('\n', '') if isinstance(x, str) else x)

C:\Users\giahu\AppData\Local\Temp\ipykernel_8236\3074363626.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.replace('\n', '') if isinstance(x, str) else x)

In [410]:
df

,STT,Tên Quốc Gia,Thủ Đô,Diện Tích Lãnh Thổ (km²),Tổng Dân Số,Mật Độ Dân Số (người/km²),Tuổi Thọ Trung Bình,Tỷ Lệ Biết Chữ (%),Tỷ Lệ Đô Thị Hoá (%),GDP (triệu tỷ USD),GDP Bình Quân Đầu Người (người/USD),Tỷ Lệ Thất Nghiệp (%),Tỷ Lệ Sinh (‰),Tỷ Lệ Tử (‰),Số Bang/Tỉnh,Số Di Sản Văn Hoá UNESCO,Tổng Số Khách Đến Du Lịch (triệu người),Tổng Thu Nhập Du Lịch (tỷ USD),Chỉ Số HDI (Human Development Index)
0,1,Afghanistan,Kabul,652230.0,40578842.0,62.215541,62.879,0.373,26.616%,14583.0,359.374474,14.10%,36.045,5.993,34,2,NaN,NaN,0.462
1,2,Albania,Tirana,27400.0,2777689.0,101.375511,76.833,0.990,63.799%,18882.0,6797.737256,10.14%,10.305,8.709,12,3,7.18,3.00,0.789
2,3,Algeria,Algiers,2381741.0,45477389.0,19.094179,77.129,0.814,74.772%,191913.0,4219.965223,12.35%,20.491,4.602,58,6,1.40,0.20,0.745
3,4,Andorra,Andorra la Vella,470.0,79705.0,169.585106,NaN,1.000,87.811%,3352.0,42055.078100,NaN,6.850,5.948,7,1,3.56,2.20,0.884
4,5,Angola,Luanda,1246700.0,35635029.0,28.583484,61.929,0.720,68.081%,106714.0,2994.637664,14.60%,38.102,7.097,18,0,0.13,0.00,0.591
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,192,"Venezuela, RB",Caracas,882050.0,28213017.0,31.985734,71.105,0.975,88.378%,NaN,NaN,5.71%,15.025,7.347,24,2,0.68,0.30,NaN
192,193,Viet Nam,Hanoi,313429.0,99680655.0,318.032649,74.580,0.958,38.766%,408802.0,4101.116711,1.52%,14.272,6.488,63,5,3.66,3.80,0.726
193,194,"Yemen, Rep.",Sana'a,527970.0,38222876.0,72.395924,63.720,0.701,39.188%,NaN,NaN,17.36%,35.407,5.232,22,4,NaN,NaN,NaN
194,195,Zambia,Lusaka,743390.0,20152938.0,27.109509,61.803,0.867,45.761%,29784.0,1477.898657,6.00%,33.542,5.583,10,0,1.06,0.80,0.569
195,196,Zimbabwe,Harare,386850.0,16069056.0,41.538209,59.391,0.897,32.395%,20678.0,1286.821080,10.09%,30.882,7.779,10,2,1.04,0.15,0.550

In [411]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 19 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   STT                                      196 non-null    int64
 1   Tên Quốc Gia                             196 non-null    object
 2   Thủ Đô                                   195 non-null    object
 3   Diện Tích Lãnh Thổ (km²)                 194 non-null    float64
 4   Tổng Dân Số                              194 non-null    float64
 5   Mật Độ Dân Số (người/km²)                192 non-null    float64
 6   Tuổi Thọ Trung Bình                      190 non-null    float64
 7   Tỷ Lệ Biết Chữ (%)                       170 non-null    float64
 8   Tỷ Lệ Đô Thị Hoá (%)                     193 non-null    object
 9   GDP (triệu tỷ USD)                       187 non-null    float64
 10  GDP Bình Quân Đầu Người (người/USD)      187 non-null    float64
 11  Tỷ Lệ Thất Nghiệp (%)                    177 non-null    object
 12  Tỷ Lệ Sinh (‰)                           194 non-null    float64
 13  Tỷ Lệ Tử (‰)                             194 non-null    float64
 14  Số Bang/Tỉnh                             196 non-null    int64
 15  Số Di Sản Văn Hoá UNESCO                 196 non-null    int64
 16  Tổng Số Khách Đến Du Lịch (triệu người)  157 non-null    float64
 17  Tổng Thu Nhập Du Lịch (tỷ USD)           152 non-null    float64
 18  Chỉ Số HDI (Human Development Index)     171 non-null    float64
dtypes: float64(12), int64(3), object(4)
memory usage: 29.2+ KB

### Chuyển đổi kiểu dữ liệu

Như có thể thấy ở đây một vài dữ liệu số đang ở type là object vì vậy ta cần đưa chúng về kiểu dữ liệu số int64 hoặc float64

In [412]:
columns_to_int = [
    'Diện Tích Lãnh Thổ (km²)',
    'Tổng Dân Số',
    'Mật Độ Dân Số (người/km²)',
    'Tuổi Thọ Trung Bình',
    'Số Bang/Tỉnh',
    'Số Di Sản Văn Hoá UNESCO'
]

columns_to_float = [
    'Tỷ Lệ Đô Thị Hoá (%)', 
    'Tỷ Lệ Biết Chữ (%)', 
    'Tỷ Lệ Sinh (‰)', 
    'Tỷ Lệ Tử (‰)',
    'GDP (triệu tỷ USD)', 
    'GDP Bình Quân Đầu Người (người/USD)', 
    'Tỷ Lệ Thất Nghiệp (%)',
    'Tổng Số Khách Đến Du Lịch (triệu người)',
    'Tổng Thu Nhập Du Lịch (tỷ USD)',
    'Chỉ Số HDI (Human Development Index)'
]

In [413]:
# Xử lý cột chuyển đổi sang kiểu int: 
for col in columns_to_int:
    df[col] = df[col].astype(str).str.replace(',', '')   # xoá dấu phẩy
    df[col] = df[col].str.strip()                        # xoá khoảng trắng đầu/cuối
    df[col] = pd.to_numeric(df[col], errors='coerce')    # ép kiểu float64 
    df[col] = df[col].round().astype("Int64")

In [414]:
df

,STT,Tên Quốc Gia,Thủ Đô,Diện Tích Lãnh Thổ (km²),Tổng Dân Số,Mật Độ Dân Số (người/km²),Tuổi Thọ Trung Bình,Tỷ Lệ Biết Chữ (%),Tỷ Lệ Đô Thị Hoá (%),GDP (triệu tỷ USD),GDP Bình Quân Đầu Người (người/USD),Tỷ Lệ Thất Nghiệp (%),Tỷ Lệ Sinh (‰),Tỷ Lệ Tử (‰),Số Bang/Tỉnh,Số Di Sản Văn Hoá UNESCO,Tổng Số Khách Đến Du Lịch (triệu người),Tổng Thu Nhập Du Lịch (tỷ USD),Chỉ Số HDI (Human Development Index)
0,1,Afghanistan,Kabul,652230,40578842,62,63,0.373,26.616%,14583.0,359.374474,14.10%,36.045,5.993,34,2,NaN,NaN,0.462
1,2,Albania,Tirana,27400,2777689,101,77,0.990,63.799%,18882.0,6797.737256,10.14%,10.305,8.709,12,3,7.18,3.00,0.789
2,3,Algeria,Algiers,2381741,45477389,19,77,0.814,74.772%,191913.0,4219.965223,12.35%,20.491,4.602,58,6,1.40,0.20,0.745
3,4,Andorra,Andorra la Vella,470,79705,170,<NA>,1.000,87.811%,3352.0,42055.078100,NaN,6.850,5.948,7,1,3.56,2.20,0.884
4,5,Angola,Luanda,1246700,35635029,29,62,0.720,68.081%,106714.0,2994.637664,14.60%,38.102,7.097,18,0,0.13,0.00,0.591
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,192,"Venezuela, RB",Caracas,882050,28213017,32,71,0.975,88.378%,NaN,NaN,5.71%,15.025,7.347,24,2,0.68,0.30,NaN
192,193,Viet Nam,Hanoi,313429,99680655,318,75,0.958,38.766%,408802.0,4101.116711,1.52%,14.272,6.488,63,5,3.66,3.80,0.726
193,194,"Yemen, Rep.",Sana'a,527970,38222876,72,64,0.701,39.188%,NaN,NaN,17.36%,35.407,5.232,22,4,NaN,NaN,NaN
194,195,Zambia,Lusaka,743390,20152938,27,62,0.867,45.761%,29784.0,1477.898657,6.00%,33.542,5.583,10,0,1.06,0.80,0.569
195,196,Zimbabwe,Harare,386850,16069056,42,59,0.897,32.395%,20678.0,1286.821080,10.09%,30.882,7.779,10,2,1.04,0.15,0.550

In [415]:
for col in columns_to_float:
    df[col] = df[col].astype(str).str.replace(',', '', regex=False)
    df[col] = df[col].str.replace('%', '', regex=False)
    df[col] = df[col].str.strip()
    df[col] = pd.to_numeric(df[col], errors='coerce')

    # Nếu giá trị lớn hơn 1 nhưng dưới 200 → chia 100 để thành phần trăm
    if df[col].max(skipna=True) > 1 and df[col].max(skipna=True) <= 200:
        df[col] = df[col] / 100

    # Làm tròn đến 2 chữ số sau dấu phẩy
    df[col] = df[col].round(2)

In [416]:
df

,STT,Tên Quốc Gia,Thủ Đô,Diện Tích Lãnh Thổ (km²),Tổng Dân Số,Mật Độ Dân Số (người/km²),Tuổi Thọ Trung Bình,Tỷ Lệ Biết Chữ (%),Tỷ Lệ Đô Thị Hoá (%),GDP (triệu tỷ USD),GDP Bình Quân Đầu Người (người/USD),Tỷ Lệ Thất Nghiệp (%),Tỷ Lệ Sinh (‰),Tỷ Lệ Tử (‰),Số Bang/Tỉnh,Số Di Sản Văn Hoá UNESCO,Tổng Số Khách Đến Du Lịch (triệu người),Tổng Thu Nhập Du Lịch (tỷ USD),Chỉ Số HDI (Human Development Index)
0,1,Afghanistan,Kabul,652230,40578842,62,63,0.37,0.27,14583.0,359.37,0.14,0.36,0.06,34,2,NaN,NaN,0.46
1,2,Albania,Tirana,27400,2777689,101,77,0.99,0.64,18882.0,6797.74,0.10,0.10,0.09,12,3,0.07,0.03,0.79
2,3,Algeria,Algiers,2381741,45477389,19,77,0.81,0.75,191913.0,4219.97,0.12,0.20,0.05,58,6,0.01,0.00,0.74
3,4,Andorra,Andorra la Vella,470,79705,170,<NA>,1.00,0.88,3352.0,42055.08,NaN,0.07,0.06,7,1,0.04,0.02,0.88
4,5,Angola,Luanda,1246700,35635029,29,62,0.72,0.68,106714.0,2994.64,0.15,0.38,0.07,18,0,0.00,0.00,0.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,192,"Venezuela, RB",Caracas,882050,28213017,32,71,0.98,0.88,NaN,NaN,0.06,0.15,0.07,24,2,0.01,0.00,NaN
192,193,Viet Nam,Hanoi,313429,99680655,318,75,0.96,0.39,408802.0,4101.12,0.02,0.14,0.06,63,5,0.04,0.04,0.73
193,194,"Yemen, Rep.",Sana'a,527970,38222876,72,64,0.70,0.39,NaN,NaN,0.17,0.35,0.05,22,4,NaN,NaN,NaN
194,195,Zambia,Lusaka,743390,20152938,27,62,0.87,0.46,29784.0,1477.90,0.06,0.34,0.06,10,0,0.01,0.01,0.57
195,196,Zimbabwe,Harare,386850,16069056,42,59,0.90,0.32,20678.0,1286.82,0.10,0.31,0.08,10,2,0.01,0.00,0.55

In [417]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 19 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   STT                                      196 non-null    int64
 1   Tên Quốc Gia                             196 non-null    object
 2   Thủ Đô                                   195 non-null    object
 3   Diện Tích Lãnh Thổ (km²)                 194 non-null    Int64
 4   Tổng Dân Số                              194 non-null    Int64
 5   Mật Độ Dân Số (người/km²)                192 non-null    Int64
 6   Tuổi Thọ Trung Bình                      190 non-null    Int64
 7   Tỷ Lệ Biết Chữ (%)                       170 non-null    float64
 8   Tỷ Lệ Đô Thị Hoá (%)                     193 non-null    float64
 9   GDP (triệu tỷ USD)                       187 non-null    float64
 10  GDP Bình Quân Đầu Người (người/USD)      187 non-null    float64
 11  Tỷ Lệ Thất Nghiệp (%)                    177 non-null    float64
 12  Tỷ Lệ Sinh (‰)                           194 non-null    float64
 13  Tỷ Lệ Tử (‰)                             194 non-null    float64
 14  Số Bang/Tỉnh                             196 non-null    Int64
 15  Số Di Sản Văn Hoá UNESCO                 196 non-null    Int64
 16  Tổng Số Khách Đến Du Lịch (triệu người)  157 non-null    float64
 17  Tổng Thu Nhập Du Lịch (tỷ USD)           152 non-null    float64
 18  Chỉ Số HDI (Human Development Index)     171 non-null    float64
dtypes: Int64(6), float64(10), int64(1), object(2)
memory usage: 30.4+ KB

## Xử lí giá trị bị thiếu

In [418]:
df.isnull().sum() # Kiểm tra giá trị null trong DataFrame

STT                                         0
Tên Quốc Gia                                0
Thủ Đô                                      1
Diện Tích Lãnh Thổ (km²)                    2
Tổng Dân Số                                 2
Mật Độ Dân Số (người/km²)                   4
Tuổi Thọ Trung Bình                         6
Tỷ Lệ Biết Chữ (%)                         26
Tỷ Lệ Đô Thị Hoá (%)                        3
GDP (triệu tỷ USD)                          9
GDP Bình Quân Đầu Người (người/USD)         9
Tỷ Lệ Thất Nghiệp (%)                      19
Tỷ Lệ Sinh (‰)                              2
Tỷ Lệ Tử (‰)                                2
Số Bang/Tỉnh                                0
Số Di Sản Văn Hoá UNESCO                    0
Tổng Số Khách Đến Du Lịch (triệu người)    39
Tổng Thu Nhập Du Lịch (tỷ USD)             44
Chỉ Số HDI (Human Development Index)       25
dtype: int64

In [419]:
df.shape

(196, 19)

In [420]:
df_null_info = df[['Tên Quốc Gia']].copy()
df_null_info['null_count'] = df.isna().sum(axis=1)

# Lọc những dòng có ít nhất 1 NaN
df_null_info = df_null_info[df_null_info['null_count'] > 0]

# Sắp xếp theo null_count giảm dần
df_null_info = df_null_info.sort_values(by='null_count', ascending=False)

# In ra
print(df_null_info)

                  Tên Quốc Gia  null_count
190                    Vatican          15
165         State of Palestine          11
91                      Kosovo           7
89   Korea, Dem. People's Rep.           5
113      Micronesia, Fed. Sts.           5
..                         ...         ...
135           Papua New Guinea           1
143         Russian Federation           1
151                 Seychelles           1
169                Switzerland           1
183                    Ukraine           1

[78 rows x 2 columns]

Dữ liệu đang chứa khá nhiều giá trị NULL và đặc biệt là với cột `Tổng Số Lượng Khách Du Lịch Nước Ngoài` là : 44/195

In [421]:
# Xem các dòng có giá trị null
df_missing = df[df.isna().any(axis=1)]
df_missing

,STT,Tên Quốc Gia,Thủ Đô,Diện Tích Lãnh Thổ (km²),Tổng Dân Số,Mật Độ Dân Số (người/km²),Tuổi Thọ Trung Bình,Tỷ Lệ Biết Chữ (%),Tỷ Lệ Đô Thị Hoá (%),GDP (triệu tỷ USD),GDP Bình Quân Đầu Người (người/USD),Tỷ Lệ Thất Nghiệp (%),Tỷ Lệ Sinh (‰),Tỷ Lệ Tử (‰),Số Bang/Tỉnh,Số Di Sản Văn Hoá UNESCO,Tổng Số Khách Đến Du Lịch (triệu người),Tổng Thu Nhập Du Lịch (tỷ USD),Chỉ Số HDI (Human Development Index)
0,1,Afghanistan,Kabul,652230,40578842,62,63,0.37,0.27,14583.0,359.37,0.14,0.36,0.06,34,2,NaN,NaN,0.46
3,4,Andorra,Andorra la Vella,470,79705,170,<NA>,1.00,0.88,3352.0,42055.08,NaN,0.07,0.06,7,1,0.04,0.02,0.88
5,6,Antigua and Barbuda,St. John's,440,92840,211,79,0.99,0.24,1758.0,18935.80,NaN,0.12,0.07,6,1,0.00,0.01,0.83
8,9,Australia,Canberra,7692020,26014399,3,83,NaN,0.86,1675419.0,64403.53,0.04,0.12,0.07,6,4,0.04,0.25,0.95
9,10,Austria,Vienna,82520,9041851,110,81,NaN,0.59,471400.0,52135.34,0.05,0.09,0.10,9,10,0.26,0.20,0.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,182,Tuvalu,Funafuti,30,9992,333,65,NaN,0.66,60.0,6004.80,NaN,0.24,0.09,9,0,0.00,NaN,0.65
183,184,Ukraine,Kyiv,579400,41048766,71,69,1.00,0.70,160503.0,3910.06,NaN,0.06,0.14,27,7,0.02,0.01,0.73
190,191,Vatican,NaN,<NA>,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,NaN,NaN,NaN
191,192,"Venezuela, RB",Caracas,882050,28213017,32,71,0.98,0.88,NaN,NaN,0.06,0.15,0.07,24,2,0.01,0.00,NaN
193,194,"Yemen, Rep.",Sana'a,527970,38222876,72,64,0.70,0.39,NaN,NaN,0.17,0.35,0.05,22,4,NaN,NaN,NaN

In [422]:
# Xoá các hàng có hơn 50% giá trị null
df = df.loc[df.isnull().mean(axis=1) < 0.5]

In [423]:
df.isnull().sum() # Kiểm tra giá trị null trong DataFrame

STT                                         0
Tên Quốc Gia                                0
Thủ Đô                                      0
Diện Tích Lãnh Thổ (km²)                    0
Tổng Dân Số                                 0
Mật Độ Dân Số (người/km²)                   2
Tuổi Thọ Trung Bình                         4
Tỷ Lệ Biết Chữ (%)                         24
Tỷ Lệ Đô Thị Hoá (%)                        1
GDP (triệu tỷ USD)                          7
GDP Bình Quân Đầu Người (người/USD)         7
Tỷ Lệ Thất Nghiệp (%)                      17
Tỷ Lệ Sinh (‰)                              0
Tỷ Lệ Tử (‰)                                0
Số Bang/Tỉnh                                0
Số Di Sản Văn Hoá UNESCO                    0
Tổng Số Khách Đến Du Lịch (triệu người)    38
Tổng Thu Nhập Du Lịch (tỷ USD)             43
Chỉ Số HDI (Human Development Index)       24
dtype: int64

In [424]:
df.shape

(194, 19)

### Xử lí giá trị bị thiếu ` Mật Độ Dân Số`

In [425]:
df[df['Mật Độ Dân Số (người/km²)'].isnull()]

,STT,Tên Quốc Gia,Thủ Đô,Diện Tích Lãnh Thổ (km²),Tổng Dân Số,Mật Độ Dân Số (người/km²),Tuổi Thọ Trung Bình,Tỷ Lệ Biết Chữ (%),Tỷ Lệ Đô Thị Hoá (%),GDP (triệu tỷ USD),GDP Bình Quân Đầu Người (người/USD),Tỷ Lệ Thất Nghiệp (%),Tỷ Lệ Sinh (‰),Tỷ Lệ Tử (‰),Số Bang/Tỉnh,Số Di Sản Văn Hoá UNESCO,Tổng Số Khách Đến Du Lịch (triệu người),Tổng Thu Nhập Du Lịch (tỷ USD),Chỉ Số HDI (Human Development Index)
81,82,Israel,Jerusalem,22072,9557500,<NA>,83,0.98,0.93,522033.0,54620.25,0.04,0.19,0.05,6,9,0.03,0.05,0.92
91,92,Kosovo,Pristina,10887,1768096,<NA>,80,NaN,NaN,9429.0,5332.86,NaN,0.12,0.06,7,1,NaN,NaN,NaN

In [426]:
# Tính trung bình của cột (bỏ qua giá trị NaN)
calc_mat_do_dan_so = df['Tổng Dân Số']*df['Diện Tích Lãnh Thổ (km²)']

# Điền các ô bị thiếu (NaN) bằng giá trị trung bình
df['Mật Độ Dân Số (người/km²)'].fillna(calc_mat_do_dan_so, inplace=True)

C:\Users\giahu\AppData\Local\Temp\ipykernel_8236\3716467761.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Mật Độ Dân Số (người/km²)'].fillna(calc_mat_do_dan_so, inplace=True)
C:\Users\giahu\AppData\Local\Temp\ipykernel_8236\3716467761.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Mật Độ Dân Số (người/km²)'].fillna(calc_mat_do_dan_so, inplace=True)

In [427]:
df.isnull().sum() # Kiểm tra giá trị null trong DataFrame

STT                                         0
Tên Quốc Gia                                0
Thủ Đô                                      0
Diện Tích Lãnh Thổ (km²)                    0
Tổng Dân Số                                 0
Mật Độ Dân Số (người/km²)                   0
Tuổi Thọ Trung Bình                         4
Tỷ Lệ Biết Chữ (%)                         24
Tỷ Lệ Đô Thị Hoá (%)                        1
GDP (triệu tỷ USD)                          7
GDP Bình Quân Đầu Người (người/USD)         7
Tỷ Lệ Thất Nghiệp (%)                      17
Tỷ Lệ Sinh (‰)                              0
Tỷ Lệ Tử (‰)                                0
Số Bang/Tỉnh                                0
Số Di Sản Văn Hoá UNESCO                    0
Tổng Số Khách Đến Du Lịch (triệu người)    38
Tổng Thu Nhập Du Lịch (tỷ USD)             43
Chỉ Số HDI (Human Development Index)       24
dtype: int64

### Các giá trị còn lại

In [428]:
df[df['Tuổi Thọ Trung Bình'].isnull()]['Tên Quốc Gia']

3         Andorra
115        Monaco
133         Palau
146    San Marino
Name: Tên Quốc Gia, dtype: object

In [429]:
df[df['Tỷ Lệ Biết Chữ (%)'].isnull()]['Tên Quốc Gia']

8                           Australia
9                             Austria
11                       Bahamas, The
16                            Belgium
31                             Canada
41                      Cote d'Ivoire
45                            Czechia
46                            Denmark
47                           Djibouti
48                           Dominica
60                             France
69                             Guinea
75                            Iceland
88                           Kiribati
91                             Kosovo
113             Micronesia, Fed. Sts.
115                            Monaco
122                             Nauru
154                   Slovak Republic
162               St. Kitts and Nevis
163                         St. Lucia
164    St. Vincent and the Grenadines
169                       Switzerland
181                            Tuvalu
Name: Tên Quốc Gia, dtype: object

In [430]:
df[df['Tỷ Lệ Đô Thị Hoá (%)'].isnull()]['Tên Quốc Gia']

91    Kosovo
Name: Tên Quốc Gia, dtype: object

In [431]:
df[df['GDP (triệu tỷ USD)'].isnull()]['Tên Quốc Gia']

41                 Cote d'Ivoire
54                       Eritrea
89     Korea, Dem. People's Rep.
159                  South Sudan
179                      Turkiye
191                Venezuela, RB
193                  Yemen, Rep.
Name: Tên Quốc Gia, dtype: object

In [432]:
df[df['GDP Bình Quân Đầu Người (người/USD)'].isnull()]['Tên Quốc Gia']

41                 Cote d'Ivoire
54                       Eritrea
89     Korea, Dem. People's Rep.
159                  South Sudan
179                      Turkiye
191                Venezuela, RB
193                  Yemen, Rep.
Name: Tên Quốc Gia, dtype: object

In [433]:
df[df['Tỷ Lệ Thất Nghiệp (%)'].isnull()]['Tên Quốc Gia']

3                    Andorra
5        Antigua and Barbuda
48                  Dominica
67                   Grenada
88                  Kiribati
91                    Kosovo
100            Liechtenstein
109         Marshall Islands
113    Micronesia, Fed. Sts.
115                   Monaco
122                    Nauru
133                    Palau
146               San Marino
151               Seychelles
162      St. Kitts and Nevis
181                   Tuvalu
183                  Ukraine
Name: Tên Quốc Gia, dtype: object

In [434]:
df[df['Tổng Số Khách Đến Du Lịch (triệu người)'].isnull()]['Tên Quốc Gia']

0                    Afghanistan
18                         Benin
19                        Bhutan
27                       Burundi
33                          Chad
38              Congo, Dem. Rep.
39                   Congo, Rep.
45                       Czechia
47                      Djibouti
53             Equatorial Guinea
54                       Eritrea
61                         Gabon
69                        Guinea
70                 Guinea-Bissau
87                         Kenya
89     Korea, Dem. People's Rep.
91                        Kosovo
95                        Latvia
97                       Lesotho
98                       Liberia
99                         Libya
109             Marshall Islands
110                   Mauritania
113        Micronesia, Fed. Sts.
114                      Moldova
122                        Nauru
129              North Macedonia
146                   San Marino
149                      Senegal
155                     Slovenia
157                      Somalia
159                  South Sudan
163                    St. Lucia
167                     Suriname
171                   Tajikistan
175                         Togo
180                 Turkmenistan
193                  Yemen, Rep.
Name: Tên Quốc Gia, dtype: object

In [435]:
df[df['Tổng Thu Nhập Du Lịch (tỷ USD)'].isnull()]['Tên Quốc Gia']

0                    Afghanistan
18                         Benin
19                        Bhutan
27                       Burundi
33                          Chad
38              Congo, Dem. Rep.
39                   Congo, Rep.
47                      Djibouti
53             Equatorial Guinea
54                       Eritrea
61                         Gabon
69                        Guinea
70                 Guinea-Bissau
87                         Kenya
89     Korea, Dem. People's Rep.
91                        Kosovo
95                        Latvia
97                       Lesotho
98                       Liberia
99                         Libya
100                Liechtenstein
109             Marshall Islands
110                   Mauritania
113        Micronesia, Fed. Sts.
114                      Moldova
115                       Monaco
120                      Myanmar
122                        Nauru
129              North Macedonia
135             Papua New Guinea
146                   San Marino
149                      Senegal
155                     Slovenia
157                      Somalia
159                  South Sudan
163                    St. Lucia
167                     Suriname
170         Syrian Arab Republic
171                   Tajikistan
175                         Togo
180                 Turkmenistan
181                       Tuvalu
193                  Yemen, Rep.
Name: Tên Quốc Gia, dtype: object

In [436]:
df[df['Chỉ Số HDI (Human Development Index)'].isnull()]['Tên Quốc Gia']

11                       Bahamas, The
24                  Brunei Darussalam
38                   Congo, Dem. Rep.
39                        Congo, Rep.
41                      Cote d'Ivoire
51                   Egypt, Arab Rep.
62                        Gambia, The
78                 Iran, Islamic Rep.
89          Korea, Dem. People's Rep.
90                        Korea, Rep.
91                             Kosovo
93                    Kyrgyz Republic
94                            Lao PDR
113             Micronesia, Fed. Sts.
115                            Monaco
143                Russian Federation
154                   Slovak Republic
162               St. Kitts and Nevis
163                         St. Lucia
164    St. Vincent and the Grenadines
170              Syrian Arab Republic
179                           Turkiye
191                     Venezuela, RB
193                       Yemen, Rep.
Name: Tên Quốc Gia, dtype: object

In [437]:
# Điền tất cả các ô NaN trong các cột số bằng giá trị trung bình tương ứng
df.fillna(0, inplace=True)

C:\Users\giahu\AppData\Local\Temp\ipykernel_8236\2088959814.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.fillna(0, inplace=True)

In [438]:
df.isnull().sum() # Kiểm tra giá trị null trong DataFrame

STT                                        0
Tên Quốc Gia                               0
Thủ Đô                                     0
Diện Tích Lãnh Thổ (km²)                   0
Tổng Dân Số                                0
Mật Độ Dân Số (người/km²)                  0
Tuổi Thọ Trung Bình                        0
Tỷ Lệ Biết Chữ (%)                         0
Tỷ Lệ Đô Thị Hoá (%)                       0
GDP (triệu tỷ USD)                         0
GDP Bình Quân Đầu Người (người/USD)        0
Tỷ Lệ Thất Nghiệp (%)                      0
Tỷ Lệ Sinh (‰)                             0
Tỷ Lệ Tử (‰)                               0
Số Bang/Tỉnh                               0
Số Di Sản Văn Hoá UNESCO                   0
Tổng Số Khách Đến Du Lịch (triệu người)    0
Tổng Thu Nhập Du Lịch (tỷ USD)             0
Chỉ Số HDI (Human Development Index)       0
dtype: int64

## Lưu và tải file csv mới

In [439]:
df.to_csv("preprocessing_data.csv", index=False, encoding='utf-8-sig')